SECRET_KEY=django-insecure-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LOCAL_DEV=True
REMOTE_DB=True
DEBUG=True
PRODUCTION=False
DEV_ENV=staging

POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# REDIS SETTINGS

REDIS_HOST=redis.staging

# CELERY SETTINGS
CELERY_BROKER_URL="redis://redis.staging:6379"
CELERY_RESULT_BACKEND="django-db"
CELERY_ACCEPT_CONTENT=['application/json']
CELERY_TASK_SERIALIZER="json"
CELERY_RESULT_SERIALIZER="json"
CELERY_BEAT_SCHEDULER="django_celery_beat.schedulers:DatabaseScheduler"
CELERY_CACHE_BACKEND="redis://redis:6379"
CELERY_TASK_TRACK_STARTED=True
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=True
CELERY_BROKER_CONNECTION_MAX_RETRIES = 5

# Flower Celery Monitor Configuration
CELERY_FLOWER_USER='admin'
CELERY_FLOWER_PASSWORD='password'
CELERY_FLOWER_PORT=5555
CELERY_FLOWER_URL=http://flower.staging:5555
